body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  /*
  https://webgradients.com/
  background: url('../img/bg-masthead.jpg') no-repeat center center;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  background-image: linear-gradient(indigo, blue);
  background-image: linear-gradient(#667db6,#0082c8);
  background-image: linear-gradient(to right, #e1eec3, #f05053);
  background-image: linear-gradient(to right, #0082c8, #667db6);
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to right, #2575fc 0%, #6a11cb 100%);
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  */
  background-image: linear-gradient(to right, #fd7e14 0%, #007bff 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*
  padding-top: 3rem;
  padding-bottom: 3rem;
  */
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("https://4.bp.blogspot.com/-tU_brTN6cs4/WqM424mO-1I/AAAAAAAACa4/EAvl2DnlDR8B2V_3P2yYJVliic7vMvq5ACLcBGAs/s1600/masjid-islamic-center-indramayu-2018-7.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* To make it on top of all*/
.ontop-all {
  z-index: 99;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#carousel-indicators img {
  width: auto;
  height: 16rem;
  max-height: 16rem;
}

.carousel-item img {
  width: 100%;
  max-height: 20rem;
  background: cover;
  object-fit: cover;
  overflow: hidden;
}

.arrow_box {
	position: relative;
	background: url("https://raw.githubusercontent.com/paytrenindramayu/paytrenindramayu.github.io/master/img/bg.png");
	border: 2px dashed #007bff;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 252, 253, 0);
	border-top-color: #007bff;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(245, 160, 110, 0);
	border-top-color: #007bff;
	border-width: 36px;
	margin-left: -36px;
}

 .act-btn{
            background:green;
            display: block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: white;
            font-size: 30px;
            font-weight: bold;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            text-decoration: none;
            transition: ease all 0.3s;
            position: fixed;
            right: 30px;
            bottom:30px;
        }
.act-btn:hover{background: blue}

