#carousel-indicators img {
    width: auto;
    height: 16rem;
    max-height: 16rem;
}

.carousel-item img {
    width: 100%;
    max-height: 20rem;
    background:cover;
    object-fit: cover;
    overflow: hidden;
    }